* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(3, 3, 36);
    color: white;
    overflow-x: hidden;
}

/*navbar section*/
nav {
    position: fixed;
    width: 100%;
    margin-block-start: -120px;
    display: flex;
    justify-content: space-around;
    height: 67px;
    background-color: rgba(0, 0, 15, 0.651);
}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(158, 158, 215);
    font-size: 1.07rem;
}

.left {
    font-size: 1.5rem;
    margin-top: 19px;
}

/* main section */
.firstSection {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
    width: 95%;

}
.firstSection img{
    background-color:rgb(57 55 179);
    border-radius: 200px;
    width: 400px;
    height: 400px;
}

.leftsection {
    font-size: 47px;
    margin-top: 8%;
}

.rightsection {
    border-radius: 210px;
    background-color: rgb(11, 85, 131);
    margin-top: 4%;
}

main {
    margin: 120px 0px;
}

.purple {
    color: aqua;
}

/*first section*/

.first {
    text-align: center;
    margin-top: 205px;
}

.first h2 {
    font-size: 34px;
}

.containerFirst {
    margin-top: 23px;
    font-size: 29px;
}

/*second section*/
#element {
    color: rgb(89, 55, 89);
}

.secondSection h2 {
    color: white;
    text-align: center;
    font-size: 34px;
    margin-top: 200px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.box1 {
    border: 2px solid black;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp5x64iBSVXOhDI3OX-XHWjCoyX2Ml51Yx5A&s");
    width: 300px;
    height: 170px;
}

.box2 {
    border: 2px solid black;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZAc4BswrDj_q0JcxkRYJ09NDHtv5GEfzOzQ&s");
    width: 300px;
    height: 170px;
}

.box3 {
    border: 2px solid black;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRss-86vRuxOArrVRmMgerLZ5pi8yCs6U7zsQ&s");
    width: 300px;
    height: 170px;
}

/*third section*/

.thirdSection {
    text-align: center;
    font-size: 34px;
    height: 300px;
}

.thirdSection h3 {
    margin-top: 150px;
}

.items {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.item1 p {
    font-size: 23px;
}

.item2 p {
    font-size: 23px;
}

.item3 p {
    font-size: 23px;
}

.dark {
    color: rgb(90 80 141);
}

.darks {
    color: rgb(90 80 141)
}

.darkes {
    color: rgb(90 80 141)
}

/*footer the section */

.footer {
    background: #0f172a;
    color: #fff;
    padding: 60px 20px 20px;
    position: relative;
    overflow: hidden;
}

/* Gradient animation */
.footer::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(120deg, #6366f1, #9333ea, #06b6d4);
    opacity: 0.08;
    animation: gradientMove 6s infinite alternate;
}

@keyframes gradientMove {
    0% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(30px);
    }
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    position: relative;
    z-index: 1;
}

.footer h2,
.footer h3 {
    margin-bottom: 15px;
}

.footer-about p {
    color: #cbd5f5;
    line-height: 1.6;
}

.footer-links a {
    display: block;
    color: #cbd5f5;
    text-decoration: none;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.footer-links a:hover {
    color: #fff;
    transform: translateX(6px);
}

.footer-social .icons {
    display: flex;
    gap: 15px;
}

.footer-social a {
    font-size: 24px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer-social a:hover {
    transform: scale(1.3) rotate(8deg);
    color: #38bdf8;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #94a3b8;
}